
<!-- Main Home View -->
<div namespace class="homepage">

    <header></header>
    <main class="flex-center" style="height: 100vh; background-color: gray;">
        
        <a href="/my-account" class="flex-y-center pd-10 radius-10" style="background-color: darkslateblue; color: white;">
            <i class="bi bi-braces sm flex-center pd-lft-10 pd-rt-10"></i>
            <span>My Account</span>
        </a>
    </main>
    <footer></footer>

    <template name="_section">
    </template>

</div>