
<!-- Main Home View -->
<div namespace class="homepage">

    <header></header>
    <main class="flex-center" style="height: 100vh; background-color: darkslateblue;">
        
    </main>
    <footer class="drop-shadow" style="position: sticky; bottom: 0px; background-color: gray;">
        <ul class="flex-y-stretch">
            <li class="col-grows">
                <a href="/my-account" class="flex-y-center pd-10">
                    <i class="bi bi-braces sm flex-center pd-lft-10 pd-rt-10"></i>
                </a>
            </li>
            <li class="col-grows">
                <a href="/my-account" class="flex-y-center pd-10>
                    <i class="bi bi-braces sm flex-center pd-lft-10 pd-rt-10"></i>
                </a>
            </li>
            <li class="col-grows">
                <a href="/my-account" class="flex-y-center pd-10">
                    <i class="bi bi-braces sm flex-center pd-lft-10 pd-rt-10"></i>
                </a>
            </li>
            <li class="col-grows">
                <a href="/my-account" class="flex-y-center pd-10">
                    <i class="bi bi-braces sm flex-center pd-lft-10 pd-rt-10"></i>
                </a>
            </li>
        </ul>
    </footer>

    <template name="_section">
    </template>

</div>